.key-bg {
    background-color: #ffffff;
    height: 80vh;
    padding-top: 10vh;
    position: absolute;
    top: 0;
    width: 100vw;
}
.key-title {
    font-size: 5rem;
}
.key-intro {
    font-size: 1.5rem;
    font-weight: 200;
}
